*{
  font-size: 62.5%;
  /* max-width: 100%; */
}


h1{
  font-size: 2.2rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.8rem;
}

h4, button{
  font-size: 1.6rem;;
}

p{
  font-size: 1.4rem;
}

ul{
  font-size: 1.4rem;
}